body {
  margin: 0;
  font-family: sans-serif;
  background-color: #808e9b; }

header #backBox {
  background-color: #ff3838;
  width: 100%;
  height: 250px;
  margin-bottom: 0px; }
header #logo img {
  text-align: center;
  width: 270px;
  height: auto;
  position: relative;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }

nav {
  height: 38px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: #f5f6fa;
  border: 1px solid #ff3838; }
  nav #navLogo {
    float: left; }
    nav #navLogo img {
      height: 40px;
      width: auto;
      margin-top: 0; }
  nav ul {
    list-style: none;
    margin-top: 0;
    margin-left: 100px;
    height: 40px; }
    nav ul li {
      display: inline-block;
      padding: 10px 0px;
      background-color: #ff3838;
      margin-left: 0.05px;
      margin-right: 0.05px; }
      nav ul li #homeIcon {
        height: 39px;
        width: auto;
        padding: 0; }
      nav ul li img {
        height: 35px;
        width: auto;
        margin: 0;
        margin-top: 0px; }
      nav ul li a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        padding: 10px 50px;
        border: 1px solid red; }
      nav ul li a:hover {
        background-color: white;
        color: red; }
  nav #navSearch {
    float: right; }

#mainBox {
  background-color: white;
  height: 70px;
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff3838; }
  #mainBox input {
    padding: 6px;
    margin-top: 17px;
    margin-left: 35px;
    font-size: 17px;
    width: 300px;
    border-color: #ff3838; }
  #mainBox .sortBox {
    height: 70px;
    width: 110px;
    float: right;
    margin-left: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 65px; }
  #mainBox .green {
    background-color: #ff3838;
    font-style: bold; }
  #mainBox .red {
    background-color: green;
    font-style: bold; }

#mainContent {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 70px;
  width: 75%; }
  #mainContent .prevBox {
    position: relative;
    height: 220px;
    width: 250px;
    background-color: #485460; }
    #mainContent .prevBox .coupon {
      height: 25px;
      width: 25px;
      float: right;
      margin-top: 0;
      background-color: blue; }
    #mainContent .prevBox .priceText {
      float: right;
      width: 30%;
      margin-top: 30px; }
    #mainContent .prevBox img {
      margin-top: 6px;
      margin-left: 6px;
      width: 150px;
      height: 163px; }
    #mainContent .prevBox .preview {
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      height: 30px;
      width: 230px;
      background-color: #0097e6;
      padding: 5px;
      text-align: center;
      margin: 5px;
      vertical-align: middle; }
      #mainContent .prevBox .preview h3 {
        margin: 0;
        margin-top: 5px; }
    #mainContent .prevBox .box1 {
      flex: 1; }
    #mainContent .prevBox .box2 {
      flex: 1; }
    #mainContent .prevBox .box3 {
      flex: 1; }
    #mainContent .prevBox .box4 {
      flex: 1; }

/*# sourceMappingURL=style.css.map */
