body {
 margin: 0;
 font-family: sans-serif;
background-color: #808e9b;
}

header {
  #backBox{
    background-color: #ff3838;
    width: 100%;
    height: 250px;
    margin-bottom: 0px;
  }
  #logo img {
    text-align: center;
    width: 270px;
    height: auto;
    position: relative;
    padding: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

nav {
  height: 38px;
  margin-bottom: 0px;
  padding: 0px;
  background-color: #f5f6fa;
  border: 1px solid #ff3838;
  #navLogo {
    float: left;
    img {
      height: 40px;
      width: auto;
      margin-top: 0;
    }
  }
  ul{
    position: absolute;
    // FIx when resizing
    white-space: nowrap;
    list-style: none;
    margin-top: 0;
    margin-left: 100px;
    height: 40px;
    .navFlex {
      display: flex;
      flex-wrap: nowrap;
    }
    li{
      position: relative;
      display: inline-block;
      background-color: #ff3838;
      margin-left: 0.05px;
      margin-right: 0.05px;

      #homeIcon{
        height: 39px;
        width: auto;
        padding: 0;
      }
      img{
        height: 35px;
        width: auto;
        margin: 0;
        margin-top: 0px;
      }

      a{
        text-decoration: none;
        font-weight: bold;
        color: white;
        padding: 10px 50px;
        border: 1px solid red;

      }
      a:hover {
        background-color: white;
        color: red;
      }
    }
  }
  #navSearch{
    float: right;
  }
}

#mainBox {
    background-color: white;
    height: 70px;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #ff3838;
    input {
      padding: 6px;
      margin-top: 17px;
      margin-left: 35px;
      font-size: 17px;
      width: 300px;
      border-color: #ff3838;
    }
    .sortBox {
      height: 70px;
      width: 110px;
      float: right;
      margin-left: 5px;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 20px;
      line-height: 65px;
    }
    .green {
      background-color: #ff3838;
      font-style: bold;
    }
    .red {
      background-color: green;
      font-style: bold;
    }
}

#mainContent {
  margin: 0 auto;
  margin-top: 70px;
  width: 75%;
  .prevBox {
    position: relative;
    height: 220px;
    width: 250px;
    background-color: #485460;
    .coupon {
      height: 25px;
      width: 25px;
      float: right;
      margin-top: 0;
      background-color: blue;
    }
    .priceText{
      float: right;
      width: 30%;
      margin-top: 30px;
    }
    img{
      margin-top: 6px;
      margin-left: 6px;
      width: 150px;
      height: 163px;
    }
    .preview{
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 230px;
      background-color: #0097e6;
      padding: 5px;
      text-align: center;
      margin: 5px;
      vertical-align: middle;
        h3{
          margin: 0;
          margin-top: 5px;
        }
      }
    }
    #row1{
      display: flex;
      justify-content: space-around;

      .box1 {
        flex: 1;
      }
      .box2 {
        flex: 1;
        }
      .box3 {
        flex: 1;
        }
      .box4{
        flex: 1;
        }
    }
    #row2 {
      display: flex;
      justify-content: space-around;
      .box5 {
        flex: 1;
      }
      .box6 {
        flex: 1;
        }
      .box7 {
        flex: 1;
        }
      .box8 {
        flex: 1;
        }

    }

}
